################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GestionDePermisosVistaHermosa/v15/Server/sqlite3/db.lock
/.vs/GestionDePermisosVistaHermosa/DesignTimeBuild/.dtbcache
/.vs/GestionDePermisosVistaHermosa/v15/Server/sqlite3/storage.ide-shm
/.vs/GestionDePermisosVistaHermosa/v15/Server/sqlite3/storage.ide
/.vs/GestionDePermisosVistaHermosa/v15/Server/sqlite3/storage.ide-wal
/WF_GPVH/obj/Debug/WF_GPVH.csproj.CoreCompileInputs.cache
/WF_GPVH/obj/Debug/build.force
